@use '../../styles/mixins' as *;

.horizontal-card-carousel {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: #F9F9F9;

        &--loading {
            border-radius: 4px;
            height: 37px;
            width: 183px;
            @include skeleton-loader();
        }
    }

    &__link {
        font-size: 1.5rem;
        color: #D2D2D2; // fallback en caso de no definir variable
        text-decoration: none;
        font-weight: 500;
        padding-bottom: 10px;
        padding-left: 16px;
        border-bottom: 2px solid #BB0000;

         &--loading {
            border-color: transparent;
            width: 105.42px;
            height: 40px;
            @include skeleton-loader();
        }

        &:hover {
            
        }
    }


    &__list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        height: auto;
        overflow-x: auto;
        padding-bottom: 1.5rem;
        user-select: none; // evita que se seleccione texto al arrastrar

        &:active {
            cursor: grabbing;
        }
    }

    &__item {}
}