<header class="home-free__header">

</header>

<main class="home-free__main">
  <section class="home-free__section home-free__section--now-playing">
    <now-playing class="home-free__now-playing" />
  </section>
  <section class="home-free__section home-free__section--upcoming">
    <upcoming class="home-free__upcoming" />
  </section>
  <section class="home-free__section home-free__section--popular">
    <popular-movies class="home-free__popular" />
  </section>
  <section class="home-free__section home-free__section--top-movies">
    <top-movies class="home-free__top-movies" />
  </section>
  <section class="home-free__section home-free__section--top-series">
    <top-series class="home-free__top-series" />
  </section>
</main>

<footer class="home-free__footer">

</footer>