@use '../../styles/mixins' as *;

.tab-navigation {
  height: 60px;
  background-color: #0d0d0d;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1F1F1F;
  padding: 0 .6rem;

  &--loading {
    width: max-content;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;

    &--active .tab-navigation__link {
      background-color: #1a1a1a;
      color: #d2d2d2;
      font-weight: bold;
    }

    &--has-submenu {
      cursor: pointer;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 1.4rem;
    color: #bfbfbf;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;

    &--loading {
      width: 106.16px;
      @include skeleton-loader();
    }

    &:hover {
      background-color: #1a1a1a;
      color: #d2d2d2;
    }
  }

  /* Submenús reutilizables */
  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    // min-width: 180px;
    width: max-content; // se ajusta al contenido
    background-color: #0d0d0d;
    border-radius: 8px;
    padding: 0.5rem 0;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: opacity 0.18s ease, transform 0.18s ease, visibility 0.18s;
    pointer-events: none;

    /* apertura controlada */
    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;
    }

    /* ítems dentro del submenú */
    &-item {
      padding: 0.5rem 1.4rem;
      list-style: none;

      &--active {
        background-color: #1a1a1a;

        .tab-navigation__submenu-link {
          color: #d2d2d2;
          font-weight: bold;
        }
      }

      &:hover {
        background-color: #1a1a1a;

        .tab-navigation__submenu-link {
          color: #fff;
        }
      }
    }

    &-link {
      color: #bfbfbf;
      text-decoration: none;
      display: block;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #d2d2d2;
      }
    }
  }
}