* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #0D0D0D;
}

/* Para todo el cuerpo de la página */
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    /* Ancho de la barra de scroll */
}

/* El "track" o riel por donde se mueve la barra */
::-webkit-scrollbar-track {
    background: #2b2b2b;
    /* Color del fondo del riel */
    border-radius: 10px;
    
}

/* La barra de scroll que se puede arrastrar */
::-webkit-scrollbar-thumb {
    background: #555;
    /* Color de la barra */
    border-radius: 10px;
    cursor: pointer;
}

/* La barra de scroll al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #949494 ;
    /* Color de la barra al hacer hover */
}